" vim: set filetype=vim :
set shiftwidth={{tabs}}
set tabstop={{tabs}}
set softtabstop={{tabs}}
set expandtab

set colorcolumn={{width + 1}}
set textwidth={{width}}

{% if makeprg -%}
set makeprg={{makeprg}}
{% endif -%}

{%if cppconfig -%}
  let g:syntastic_cpp_config_file="{{prefix}}/.cppconfig"
{% endif -%}

{% if footer -%}
{{footer}}
{% endif -%}
