" vim: set filetype=vim :
set shiftwidth=2
set tabstop=2
set softtabstop=2
set expandtab

set colorcolumn=101
set textwidth=100

set makeprg=ninja\ -C\ "{{source_dir}}/build"\ -v
let g:syntastic_cpp_config_file="{{prefix}}/.cppconfig"
let g:syntastic_cpp_include_dirs=["{{source_dir}}", "{{prefix}}/include"]
let g:ycm_collect_identifiers_from_tags_files=1
noremap <F5> :Autoformat<CR>
let g:formatdef_llvm_cpp = '"clang-format -style=file"'
let g:formatters_cpp = ['llvm_cpp']
